h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
    font-size: inherit;     /* html이 16px이니까, 그만큼 상속 받음 */
    color: inherit;
    text-decoration: none;
    font-weight: normal;
}

button:enabled {
    cursor: pointer;
}

button {
    border: none;
    padding: none;
    background: none;
}   /* 초기화 함부로 하면 안 됨 */ /* 접근성 높이려면 디자이너랑 프엔개발자랑 많이 대화해야 함 */